@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sriracha&family=Ubuntu+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------- Drum Select Page Styling ------- */


#body-select {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#acoustic-select {
    background-image: url(../images/acoustic-background.jpg);
    background-position: center no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50vh;
}

#electro-select {
    background-image: url(../images/electro-background.jpg);
    background-position: center center no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50vh;
}

.drum-link {
    text-decoration: none;
}

h1 {
    margin-top: 40%;
    font-size: 3em;
    text-align: center;
    padding: 15px 30px 15px 30px;
}

#acoustic-link {
    color: rgb(197, 194, 194);
    background-color: rgba(0, 0, 0, 0.719);
    border: solid 2px rgb(163, 80, 42);
    font-family: 'Sriracha', cursive;
}

#electro-link {
    color: rgb(197, 194, 194);
    background-color: rgba(58, 0, 105, 0.719);
    border: solid 2px rgb(0, 185, 56);
    font-family: 'Ubuntu Mono', monospace;
}



/* -------- Drum Machine Page Styling ------- */


.drum-keys {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

kbd {
    display: none;
    pointer-events: none;
}

.drum-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s;
}

.playing {
    transform: scale(1.1);
}

.drum-key {
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.electro-div {
    background-color: rgba(61, 5, 83, 0.808);
    border: solid 3px rgba(52, 224, 0, 0.747);
    color: rgb(52, 224, 0);
    border-radius: 20px;
}

.electro-div.playing {
    box-shadow: 0 0 30px yellow
}

.acoustic-drum {
    background-color: rgb(212, 212, 201);
    border: ridge 5px rgb(163, 80, 42);
    border-radius: 50%;
}

.acoustic-drum.playing {
    transform: scale(1.1);
    background-color: rgb(185, 185, 176);
    box-shadow: rgb(190, 190, 182);
}

.acoustic-cymbal {
    background-color: rgb(189, 140, 50);
    border: outset 5px rgb(189, 140, 50);
    border-radius: 50%;
}

.acoustic-cymbal.playing {
    border: inset 5px rgb(189, 140, 50);

}

.drum-key {
    font-family: 'Ubuntu Mono', monospace;
    line-height: 1em;
}

.acoustic-key {
    font-family: 'Sriracha', cursive;
}



/* -------- Desktop Sizing and Layout ------- */

@media only screen and (min-width: 1281px) {

    #acoustic-body {
        background-image: url(../images/acoustic-background.jpg);
        background-position: center center no-repeat;
        background-size: cover;
    }
    
    #electro-body {
        background-image: url(../images/electro-background.jpg);
        background-position: center center no-repeat;
        background-size: cover;
    }
    
    .header {
        height: 40vh
    }
    
    .drum-keys {
        max-width: 100%;
        flex-flow: row wrap;
    }
    
    .drum-div {
        margin: 40px;
        height: 125px;
        width: 125px;
    }
    
    .drum-key {
        font-size: 1.7em;
        font-family: 'Ubuntu Mono', monospace;
    }

    kbd {
        display: flex;
        font-size: 3.5em;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
        font-family: 'Ubuntu Mono', monospace;
    }

    .acoustic-kbd {
        color: black;
        margin: -15px 0 5px 0;
        font-size: 2.5em;
        font-family: 'Sriracha', cursive;
        line-height: 1em;
    }

    .acoustic-key {
        font-family: 'Sriracha', cursive;
        font-size: 1.5em;
        line-height: 1em;
    }

}


/* -------- Landscape Tablet Sizing and Layout ------- */

@media only screen and (min-height: 768px) and (min-width: 1024px) and (max-width: 1280px) {

    #acoustic-body {
        background-image: url(../images/acoustic-background.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 150% 150%;
    }
    
    #electro-body {
        background-image: url(../images/electro-background.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    .header {
        height: 35vh;
        margin-bottom: 50px;
    }
    
    .drum-keys {
        max-width: 100%;
        height: 400px;
        flex-flow: column wrap;
    
    }
    
    .drum-div {
        margin: 20px;
        height: 125px;
        width: 125px;
    }
    
    .drum-key {
        font-size: 1.5em;
    }



}

/* -------- Portrait Tablet Sizing and Layout ------- */

@media only screen and (max-width: 800px) {

    body {
        background-color: black;
    }
    
    .header {
        height: 57vh;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin-bottom: 50px;
    }
    
    #acoustic-header {
        background-image: url(../images/acoustic-background.jpg);
    }
    
    #electro-header {
        background-image: url(../images/electro-background.jpg);
    }
    
    .drum-keys {
        max-width: 100%;
        height: 400px;
        flex-flow: column wrap;
    
    }
    
    .drum-div {
        margin: 20px;
        height: 125px;
        width: 125px;
    }
    
    .drum-key {
        font-size: 2em;
    }

}



/* -------- Mobile Sizing and Layout ------- */

@media only screen and (max-width: 425px) {

body {
    background-color: black;
}

.header {
    height: 57vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 50px;
}

#acoustic-header {
    background-image: url(../images/acoustic-background.jpg);
}

#electro-header {
    background-image: url(../images/electro-background.jpg);
}

.drum-keys {
    max-width: 100%;
    height: 230px;
    flex-flow: column wrap;

}

.drum-div {
    margin: 5px;
    height: 70px;
    width: 70px;
}

.drum-key {
    font-size: 1em;
}

}








